# +-------+
# | Proxy |
# +-------+

FORWARD_PROXY_PORT=8080

# +---------+
# | Service |
# +---------+

SVC_WEB_ANALYZER_DEBUG_PORT=50001
HTTP_SERVER_PORT=8088
AUTH_ENABLED="true"

# +----------------+
# | Secret Storage |
# +----------------+

VAULT_PORT=8200
VAULT_DEV_LISTEN_ADDRESS="0.0.0.0:8200"
VAULT_DEV_ROOT_TOKEN_ID="bottom-secret-Token"
VAULT_ADDR="http://vault:8200"
VAULT_ROOT_TOKEN="bottom-secret-Token"

# +---------+
# | Storage |
# +---------+

POSTGRES_HOST="postgres"
POSTGRES_PORT=5432
POSTGRES_DB="web_analyzer"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="bottom.Secret"

# +-------+
# | Queue |
# +-------+

RABBITMQ_HOST="rabbitmq"
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER="admin"
RABBITMQ_PASS="bottom.Secret"
RABBITMQ_VHOST="/"

# +-------+
# | Cache |
# +-------+

KEYDB_PORT=6379
KEYDB_ADDR="keydb:6379"
KEYDB_PASSWORD="bottom.Secret"
