global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'otel-collector'
    scrape_interval: 3s
    static_configs:
      - targets: ['otel-collector:8889']
        labels:
          service: 'otel-collector'
          environment: 'development'

  - job_name: 'otel-collector-internal'
    static_configs:
      - targets: ['otel-collector:8888']
        labels:
          service: 'otel-collector-metrics'
          environment: 'development'
